# OpenAI environment variables
OPENAI_API_ENDPOINT
OPENAI_API_KEY
OPENAI_API_VERSION
OPENAI_API_MODEL_VERSION
OPENAI_API_MODEL_DEPLOYMENT_NAME

# Harness environment variables
HARNESS_ACCOUNT_ID
HARNESS_ORG_ID
HARNESS_PROJECT_ID
HARNESS_DELEGATE_TOKEN
HARNESS_API_KEY
